<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banco.Properties.Settings.EstacionamentoBD" connectionString="workstation id=estacionamentoSenac.mssql.somee.com;packet size=4096;user id=PIintegrador_SQLLogin_1;pwd=dc3gyue1ka;data source=estacionamentoSenac.mssql.somee.com;persist security info=False;initial catalog=estacionamentoSenac" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
